<header class="header" style="background-image: url('../../assets/img/home-bg.jpg')">
  <div class="header--overlay"></div>
  <div class="header--container container">
    <div class="header--row row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="header--heading">
          <div class="header--heading-content">
            <div class="header--heading--title h1">Clean Blog</div>
            <span class="header--subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
