<app-header></app-header>

<!-- <a [routerLink]="['./driven/driven']">
  <button type="button" class="btn btn-outline-primary">Go to form</button>
</a> -->

<!-- Main Content -->
<div class="container">
  <div class="alert alert-danger"
    *ngIf="error">Error</div>
  <div class="row book">
    <!-- <pre>{{ active | json }}</pre> -->
    <div class="col-lg-6 col-md-12 mx-0">
      <ul class="list-group">
        <li class="list-group-item book-list--item"
          *ngFor="let book of books"
          [ngClass]="{ 'active': book.id == active?.id }"
          (click)="setActive(book)"
          >
          <img [src]="book.img ? book.img : '../../assets/img/no-image.jpg'"  class="img-thumbnail" width="80">
          <div class="book-list--description">
            <div class="book-list--title">
              {{ book.title }}
            </div>
            <div class="book-list--author">
              - {{ book.author }}
            </div>
          </div>
          <div class="pull-right book-list--price">
            <span [style.color]="book.price > 15 ? 'red': null "> € {{ book.price | number: '1.2-2' }} </span>
            <i class="fa fa-trash"
              (click)="delete($event, book)"
            ></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-12 mx-0">
      <app-form
        [active]="active"
        [books]="books"
      ></app-form>
    </div>
  </div>
</div>

<app-driven></app-driven>

<!-- Footer -->
<app-footer></app-footer>
