/* Footer */

.footer {
  bottom: 0;
  background-color: $c-white--1;
  color: $c-dark-gray;
  font-size: $unit-spacing;
  padding: $unit-spacing--1 0;
  left: 0;
  text-align: center;
  width: 100%;

  &-row--center {
    justify-content: center;
  }
}
